name: Test Action

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - package: at
            repo: https://salsa.debian.org/debian/at.git
            ref: debian/3.1.23-1
          - package: lolcat
            repo: https://salsa.debian.org/ruby-team/lolcat.git
            ref: debian/100.0.1-2
          - package: micro
            repo: https://salsa.debian.org/go-team/packages/micro.git
            ref: debian/2.0.6-2_bpo10+1
          - package: cron
            repo: https://salsa.debian.org/debian/cron.git
            ref: debian/3.0pl1-134+deb10u1
          - package: deber
            repo: https://github.com/dawidd6/deber.git
            ref: v1.0.0
          - package: netcat-openbsd
            repo: https://git.launchpad.net/ubuntu/+source/netcat-openbsd
            ref: import/1.206-1ubuntu1
          - package: iproute2
            repo: https://git.launchpad.net/ubuntu/+source/iproute2
            ref: import/4.18.0-1ubuntu2_ubuntu18.04.1
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Clone repo
        run: git clone --depth=1 ${{matrix.repo}} -b ${{matrix.ref}} ${{matrix.package}}
      - name: Test run
        uses: ./
        with:
          source_directory: ${{matrix.package}}
          artifacts_directory: artifacts
      - name: Check files
        run: |
          ls -lh artifacts/${{matrix.package}}*.*
          ls -lh ${{matrix.package}}*.* && false || true
